body {
    background-color: beige;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px; 
}

h1 {
    color: black;
}

p {
    font-size: 17px;
}

article {
 background-color: #f7c6dc; # licht roze
 padding: 20px;
 border: 3px solid #e14f9b; # donker roze
 margin: 25px;
}