body {
    background-color: whitesmoke;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px; 
}

h1 {
    color: black;
}

h2 {
    font-size:17px;
    font-weight: bold;
    color: darkblue;
}

p {
    font-size: 17px;
}